<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Products App</a>
      <div class="d-flex align-items-center">
        <a class="nav-link" routerLink="/register" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Register</a>
        <a class="nav-link ms-3" routerLink="/login" routerLinkActive="active-link">Login</a> <!-- Added margin using ms-3 -->
        <a class="nav-link ms-3" routerLink="/cart" routerLinkActive="active-link"><img src="./AtToCart.png" alt="" width="30" height="30" class="d-inline-block align-top ms-3"></a>
         <!-- Added margin for spacing -->
          <div class="circle">{{counter}}</div>
        <a class="nav-link position-relative ms-2" href="#">
          <i class="bi bi-cart"></i>
        </a>
      </div>
    </div>
  </nav>
  