.add-to-cart-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .add-to-cart-btn:hover {
    background-color: #f0f0f0;
  }  
  @media (max-width: 768px) {
    .card-group {
      flex-direction: column;
    }
  
    .card {
      margin-bottom: 20px;
    }
  
    .add-to-cart-btn {
      flex: 1;
      margin: 5px;
    }
  
    .d-flex {
      flex-direction: column;
    }
  }