<div class="container mt-5">
    <h2 class="mb-4">Cart</h2>
    <table class="table table-bordered align-middle">
      <thead class="table-light">
        <tr>
          <th scope="col">Description</th>
          <th scope="col" class="text-center">Quantity</th>
          <th scope="col" class="text-center">Remove</th>
          <th scope="col" class="text-end">Price</th>
        </tr>
      </thead>
      <tbody>
        @for (item of proudct1; track item.p.id) 
        {
            <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <img [src]="item.p.thumbnail" alt="Headphones" class="img-thumbnail" style="width: 70px; height: 70px; object-fit: cover;">
                    <div class="ms-3">
                      <h6 class="mb-0">{{item.p.title}}</h6>
                      <small class="text-muted">{{item.p.description}}</small>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <div class="input-group" style="max-width: 120px; margin: auto;">
                    <button class="btn btn-dark btn-sm" (click)="inc(item)" [disabled] = "item.p.stock <= item.c" > + </button>
                    <input type="text" class="form-control text-center" value={{item.c}} readonly>
                    <button class="btn btn-dark btn-sm" (click)="dec(item)" [disabled] = "item.c < 1">-</button>
                  </div>
                </td>
                <td class="text-center">
                  <button class="btn btn-danger btn-sm">×</button>
                </td>
                <td class="text-end">{{item.p.price}}$</td>
            </tr>
        }
        <tr>
            <td class="text-center text-lg-center" colspan="2"> totel</td>
            <td class="text-center" colspan="2">{{totalPrice}}</td>
        </tr>    
      </tbody>
    </table>